 // COMMON STYLES
 
 
 // section titles (global)

section h2 {
	position:relative;
	margin-bottom:65px!important;
	text-align:center;
		&:after {
	        position: absolute;
		    background: $darkred;
		    height: 5px;
		    width: 50px;
		    content: '';
		    border: 0;
		    bottom: -36px;
		    left: 50%;
			transform:translate(-50%);
			 
	    }
}

// button default

.btn-default {
	@include inlineblock;
	text-decoration:none;
	text-transform:uppercase;
	color:$darkred;
	border:1px solid $darkred;
	padding:12px 25px;
	font-size:13px;
	background:transparent;
	position:relative;
	cursor:pointer;
	margin:0 auto;

	&:hover {
		border:1px solid $darkred;
		background:$darkred;
		transition:1s;
		color:$white;
	}
}

 